<!DOCTYPE html>
<html ng-app="people">
<head>
    <meta charset="UTF-8">
    <title>DAA Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.3/angular.min.js"></script>
    <script src="/DAAExample/js/controllers.js"></script>
</head>
<body ng-controller="peopleController">
<h1>People</h1>
<a id="#logout" href="logout">Logout</a>

<div>
    <form novalidate id="people-form">
        <input type="text" ng-model="personInForm.name"/>
        <input type="text" ng-model="personInForm.surname"/>
        <input type="submit" ng-click="insert()" ng-hide="isEditing" value="Create"/>
        <input type="submit" ng-click="update()" ng-show="isEditing" value="Save"/>
        <input type="reset" ng-click="resetForm()" value="Clean"/>
    </form>
</div>
<div>
    <table id="people-list">
        <tr ng-repeat="person in people">
            <th>{{person.id}}</th>
            <th>{{person.name}}</th>
            <th>{{person.surname}}</th>
            <th><a href="#" ng-click="edit(person.id)">Edit</a></th>
            <th><a href="#" ng-click="delete(person.id)">Delete</a></th>
        </tr>
    </table>
</div>

</body>
</html>